<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body>
{{>navbar}}
<h1>Registration Form </h1>
<a href="/secret">Secret</a>
<a href="/logout">Logout</a>
<br/>
<br/>
<form action="/register" method="POST">
	<label>Name</label>
	<input type="text" placeholder="name" name="name"></input><br/><br/>
	<label>Phone no</label>
	<input type="number" placeholder="name" name="phoneno"></input><br/><br/>
	<label>Email</label>
	<input type="email" placeholder="name" name="email"></input><br/><br/>
	<label>password</label>
	<input type="password" placeholder="name" name="pass"></input><br/><br/>
	<label>confirm password</label>
	<input type="password" placeholder="name" name="conpass"></input><br/><br/>
	<input type="submit" value="Register" ></input>
</form>

</body>
</html>