<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body>
	{{>navbar}}
<h1>Login Form </h1>
<a href="/secret">Secret</a>
<br/>
<br/>
<form action="/login" method="POST">
	
	<label>Email</label>
	<input type="email" placeholder="name" name="email"></input><br/><br/>
	<label>password</label>
	<input type="password" placeholder="name" name="pass"></input><br/><br/>
	
	<input type="submit" value="Register" ></input>
</form>

</body>
</html>