<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body>
	{{>navbar}}
<h1>This is the secret page.</h1>
<a href="/logout">Logout</a>

<br/>
<br/>
<form action="/register" method="POST">

</form>

</body>
</html>